<h1>Welcome to custom email sender</h1>

<ul>
    <li><a style="font-size : 22px" asp-controller="Email" asp-action="Send">Отправить письмо</a></li>

    <li><a style="font-size : 22px" asp-controller="Account" asp-action="Register">Регистрация</a></li>
</ul>




